<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 3
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям
*Идеальный просмотр Jupyter notebooks возможен только локально, GitHub и nbviewer могут неправильно отбражать формулы или картинки.*

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://docs.google.com/forms/d/1KbWiGlupiSwYlqc8nmV6KjB3vNTI0C5hxZ6Tq3ZU4QA).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Датасет сформирован из реальных клинических анализов, и в нём используются признаки, которые можно разбить на 3 группы:

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [1]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [46]:
df = pd.read_csv('data/mlbootcamp5_train.csv', sep=';', index_col='id')

Посмотрим на первые 5 записей.

In [4]:
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>age</th>
      <th>gender</th>
      <th>height</th>
      <th>weight</th>
      <th>ap_hi</th>
      <th>ap_lo</th>
      <th>cholesterol</th>
      <th>gluc</th>
      <th>smoke</th>
      <th>alco</th>
      <th>active</th>
      <th>cardio</th>
    </tr>
    <tr>
      <th>id</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>18393</td>
      <td>2</td>
      <td>168</td>
      <td>62.0</td>
      <td>110</td>
      <td>80</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>20228</td>
      <td>1</td>
      <td>156</td>
      <td>85.0</td>
      <td>140</td>
      <td>90</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>18857</td>
      <td>1</td>
      <td>165</td>
      <td>64.0</td>
      <td>130</td>
      <td>70</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>17623</td>
      <td>2</td>
      <td>169</td>
      <td>82.0</td>
      <td>150</td>
      <td>100</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>17474</td>
      <td>1</td>
      <td>156</td>
      <td>56.0</td>
      <td>100</td>
      <td>60</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше (здесь и далее под средним понимается среднее арифметическое).**

**<font color='red'>Варианты:</font>**
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин

In [52]:
print(df.groupby(['gender'])['age'].count())
tmp_df = df.groupby(['gender'])['height'].mean()
index_for_men = tmp_df.idxmax()
index_for_women = tmp_df.idxmin()
print(f'Index for men {index_for_men}')
print(f'Index for women {index_for_women}')
df.gender = df.gender.replace({index_for_women: 'women', index_for_men: 'men'})

gender
1    45530
2    24470
Name: age, dtype: int64
Index for men 2
Index for women 1

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем реже указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- мужчины 
- женщины

In [17]:
df.groupby(['gender'])['alco'].mean()

gender
men      0.106375
women    0.025500
Name: alco, dtype: float64

In [18]:
tmp_df = df.groupby(['gender'])['smoke'].mean()
print(round(tmp_df['men'] / tmp_df['women']))

12.0

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чём здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 10
- 15
- 20
- 25

In [13]:
df['age_in_month'] = df.age / 30.42
mp_df = df.groupby(['smoke'])['age_in_month'].median()
mp_df[0] - mp_df[1]

19.62524654832339

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='https://habrastorage.org/webt/gg/38/vf/gg38vfl5ql8obqjmlsvt9es76p8.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 64 лет включительно. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу, и она не включается).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., а уровень холестерина – 4 ммоль/л, то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180), а холестерина было бы 8 ммоль/л.

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Создайте новый признак ``age_years`` – возраст в годах, округлив до целых (`round`). Для данного примера отберите курящих мужчин от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.
- Интересуют 2 подвыборки курящих мужчин возраста от 60 до 64 лет включительно: первая с верхним артериальным давлением строго меньше 120 мм рт.ст. и концентрацией холестерина – 4 ммоль/л, а вторая – с верхним артериальным давлением от 160 (включительно) до 180 мм рт.ст. (не включительно) и концентрацией холестерина – 8 ммоль/л.

Во сколько раз (округленно, `round`) отличаются доли больных людей (согласно целевому признаку, `cardio`) в этих двух подвыборках? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [54]:
df['age_years'] = df.age/365
men = df[(df['gender'] == 'men') & (df['smoke'] == 1) & (df['age_years'] >= 60 )& (df['age_years'] <= 64)]
men1 = men[(men['cholesterol'] == 1) & (men['ap_hi'] < 120)]
men2 = men[(men['cholesterol'] == 3) & (men['ap_hi'] >= 160)]
ratio_in_man_1 = men1.cardio.sum() / men1.cardio.count()
ratio_in_man_2 = men2.cardio.sum() / men2.cardio.count()
print(round(ratio_in_man_2 / ratio_in_man_1))

3.0

In [37]:
men.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>age</th>
      <th>gender</th>
      <th>height</th>
      <th>weight</th>
      <th>ap_hi</th>
      <th>ap_lo</th>
      <th>cholesterol</th>
      <th>gluc</th>
      <th>smoke</th>
      <th>alco</th>
      <th>active</th>
      <th>cardio</th>
      <th>age_in_month</th>
      <th>age_years</th>
    </tr>
    <tr>
      <th>id</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке превышает норму
- У женщин в среднем BMI ниже, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [56]:
df['BMI'] = df['weight']/(df['height'] / 100) ** 2
sort_BMI = df.sort_values(['BMI']).loc[:, ['gender', 'cardio', 'alco', 'BMI', 'weight', 'height']]
if(sort_BMI.BMI.median() > 25):
    print('да')
else:
    print('нет')
if( sort_BMI.groupby(['gender'])['BMI'].mean()['women'] <  sort_BMI.groupby(['gender'])['BMI'].mean()['men']) :
    print('да')
else:
    print('нет') 
if(sort_BMI.groupby(['cardio'])['BMI'].mean()[0] > sort_BMI.groupby(['cardio'])['BMI'].mean()[1]):
    print('да')
else:
    print('нет')
men_vs_women = sort_BMI[(sort_BMI['cardio'] == 0 & (sort_BMI['alco'] == 0))].groupby(['gender'])['BMI'].mean()
if(men_vs_women['women'] - 25 > men_vs_women['men'] - 25):
    print('да')
else:
    print('нет')

да
нет
нет

да

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления строго выше верхнего
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используйте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Этот вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно, `round`) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [57]:
delete_rows = df[(df['height'] < df['height'].quantile(q  = 0.025)) | 
        (df['height'] > df['height'].quantile(q  = 0.975)) | 
        (df['weight'] < df['weight'].quantile(q  = 0.025)) | 
        (df['weight'] > df['weight'].quantile(q  = 0.975)) |
        (df['ap_lo'] > df['ap_hi'])]
print(round(delete_rows['age'].count() / df['age'].count() * 100, 0))
df.drop(delete_rows.index,  axis = 'rows')

10.0

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>age</th>
      <th>gender</th>
      <th>height</th>
      <th>weight</th>
      <th>ap_hi</th>
      <th>ap_lo</th>
      <th>cholesterol</th>
      <th>gluc</th>
      <th>smoke</th>
      <th>alco</th>
      <th>active</th>
      <th>cardio</th>
      <th>age_years</th>
      <th>BMI</th>
    </tr>
    <tr>
      <th>id</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>18393</td>
      <td>men</td>
      <td>168</td>
      <td>62.0</td>
      <td>110</td>
      <td>80</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>50.391781</td>
      <td>21.967120</td>
    </tr>
    <tr>
      <th>1</th>
      <td>20228</td>
      <td>women</td>
      <td>156</td>
      <td>85.0</td>
      <td>140</td>
      <td>90</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>55.419178</td>
      <td>34.927679</td>
    </tr>
    <tr>
      <th>2</th>
      <td>18857</td>
      <td>women</td>
      <td>165</td>
      <td>64.0</td>
      <td>130</td>
      <td>70</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>51.663014</td>
      <td>23.507805</td>
    </tr>
    <tr>
      <th>3</th>
      <td>17623</td>
      <td>men</td>
      <td>169</td>
      <td>82.0</td>
      <td>150</td>
      <td>100</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>48.282192</td>
      <td>28.710479</td>
    </tr>
    <tr>
      <th>4</th>
      <td>17474</td>
      <td>women</td>
      <td>156</td>
      <td>56.0</td>
      <td>100</td>
      <td>60</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>47.873973</td>
      <td>23.011177</td>
    </tr>
    <tr>
      <th>8</th>
      <td>21914</td>
      <td>women</td>
      <td>151</td>
      <td>67.0</td>
      <td>120</td>
      <td>80</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>60.038356</td>
      <td>29.384676</td>
    </tr>
    <tr>
      <th>9</th>
      <td>22113</td>
      <td>women</td>
      <td>157</td>
      <td>93.0</td>
      <td>130</td>
      <td>80</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>60.583562</td>
      <td>37.729725</td>
    </tr>
    <tr>
      <th>12</th>
      <td>22584</td>
      <td>men</td>
      <td>178</td>
      <td>95.0</td>
      <td>130</td>
      <td>90</td>
      <td>3</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>61.873973</td>
      <td>29.983588</td>
    </tr>
    <tr>
      <th>13</th>
      <td>17668</td>
      <td>women</td>
      <td>158</td>
      <td>71.0</td>
      <td>110</td>
      <td>70</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>48.405479</td>
      <td>28.440955</td>
    </tr>
    <tr>
      <th>14</th>
      <td>19834</td>
      <td>women</td>
      <td>164</td>
      <td>68.0</td>
      <td>110</td>
      <td>60</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>54.339726</td>
      <td>25.282570</td>
    </tr>
    <tr>
      <th>15</th>
      <td>22530</td>
      <td>women</td>
      <td>169</td>
      <td>80.0</td>
      <td>120</td>
      <td>80</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>61.726027</td>
      <td>28.010224</td>
    </tr>
    <tr>
      <th>16</th>
      <td>18815</td>
      <td>men</td>
      <td>173</td>
      <td>60.0</td>
      <td>120</td>
      <td>80</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>51.547945</td>
      <td>20.047446</td>
    </tr>
    <tr>
      <th>18</th>
      <td>14791</td>
      <td>men</td>
      <td>165</td>
      <td>60.0</td>
      <td>120</td>
      <td>80</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>40.523288</td>
      <td>22.038567</td>
    </tr>
    <tr>
      <th>21</th>
      <td>19809</td>
      <td>women</td>
      <td>158</td>
      <td>78.0</td>
      <td>110</td>
      <td>70</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>54.271233</td>
      <td>31.244993</td>
    </tr>
    <tr>
      <th>25</th>
      <td>21296</td>
      <td>women</td>
      <td>170</td>
      <td>75.0</td>
      <td>130</td>
      <td>70</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>58.345205</td>
      <td>25.951557</td>
    </tr>
    <tr>
      <th>27</th>
      <td>16747</td>
      <td>women</td>
      <td>158</td>
      <td>52.0</td>
      <td>110</td>
      <td>70</td>
      <td>1</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>45.882192</td>
      <td>20.829995</td>
    </tr>
    <tr>
      <th>28</th>
      <td>17482</td>
      <td>women</td>
      <td>154</td>
      <td>68.0</td>
      <td>100</td>
      <td>70</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>47.895890</td>
      <td>28.672626</td>
    </tr>
    <tr>
      <th>29</th>
      <td>21755</td>
      <td>men</td>
      <td>162</td>
      <td>56.0</td>
      <td>120</td>
      <td>70</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>59.602740</td>
      <td>21.338211</td>
    </tr>
    <tr>
      <th>30</th>
      <td>19778</td>
      <td>men</td>
      <td>163</td>
      <td>83.0</td>
      <td>120</td>
      <td>80</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>54.186301</td>
      <td>31.239414</td>
    </tr>
    <tr>
      <th>31</th>
      <td>21413</td>
      <td>women</td>
      <td>157</td>
      <td>69.0</td>
      <td>130</td>
      <td>80</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>58.665753</td>
      <td>27.993022</td>
    </tr>
    <tr>
      <th>32</th>
      <td>23046</td>
      <td>women</td>
      <td>158</td>
      <td>90.0</td>
      <td>145</td>
      <td>85</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>63.139726</td>
      <td>36.051915</td>
    </tr>
    <tr>
      <th>35</th>
      <td>16608</td>
      <td>women</td>
      <td>170</td>
      <td>68.0</td>
      <td>150</td>
      <td>90</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>45.501370</td>
      <td>23.529412</td>
    </tr>
    <tr>
      <th>36</th>
      <td>14453</td>
      <td>women</td>
      <td>153</td>
      <td>65.0</td>
      <td>130</td>
      <td>100</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>39.597260</td>
      <td>27.767098</td>
    </tr>
    <tr>
      <th>37</th>
      <td>19559</td>
      <td>women</td>
      <td>156</td>
      <td>59.0</td>
      <td>130</td>
      <td>90</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>53.586301</td>
      <td>24.243918</td>
    </tr>
    <tr>
      <th>38</th>
      <td>18085</td>
      <td>women</td>
      <td>159</td>
      <td>78.0</td>
      <td>120</td>
      <td>80</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>49.547945</td>
      <td>30.853210</td>
    </tr>
    <tr>
      <th>39</th>
      <td>14574</td>
      <td>men</td>
      <td>166</td>
      <td>66.0</td>
      <td>120</td>
      <td>80</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>39.928767</td>
      <td>23.951227</td>
    </tr>
    <tr>
      <th>40</th>
      <td>21057</td>
      <td>men</td>
      <td>169</td>
      <td>74.0</td>
      <td>130</td>
      <td>70</td>
      <td>1</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>57.690411</td>
      <td>25.909457</td>
    </tr>
    <tr>
      <th>42</th>
      <td>18291</td>
      <td>women</td>
      <td>155</td>
      <td>105.0</td>
      <td>120</td>
      <td>80</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>50.112329</td>
      <td>43.704475</td>
    </tr>
    <tr>
      <th>43</th>
      <td>23186</td>
      <td>women</td>
      <td>169</td>
      <td>71.0</td>
      <td>140</td>
      <td>90</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>63.523288</td>
      <td>24.859074</td>
    </tr>
    <tr>
      <th>44</th>
      <td>14605</td>
      <td>women</td>
      <td>159</td>
      <td>60.0</td>
      <td>110</td>
      <td>70</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>40.013699</td>
      <td>23.733238</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>99951</th>
      <td>22491</td>
      <td>men</td>
      <td>170</td>
      <td>72.0</td>
      <td>120</td>
      <td>80</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>61.619178</td>
      <td>24.913495</td>
    </tr>
    <tr>
      <th>99952</th>
      <td>15450</td>
      <td>men</td>
      <td>165</td>
      <td>66.0</td>
      <td>120</td>
      <td>80</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>42.328767</td>
      <td>24.242424</td>
    </tr>
    <tr>
      <th>99954</th>
      <td>20327</td>
      <td>women</td>
      <td>156</td>
      <td>67.0</td>
      <td>140</td>
      <td>80</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>55.690411</td>
      <td>27.531229</td>
    </tr>
    <tr>
      <th>99956</th>
      <td>16093</td>
      <td>men</td>
      <td>157</td>
      <td>61.0</td>
      <td>110</td>
      <td>90</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>44.090411</td>
      <td>24.747454</td>
    </tr>
    <tr>
      <th>99957</th>
      <td>20529</td>
      <td>men</td>
      <td>175</td>
      <td>78.0</td>
      <td>120</td>
      <td>80</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>56.243836</td>
      <td>25.469388</td>
    </tr>
    <tr>
      <th>99958</th>
      <td>22572</td>
      <td>men</td>
      <td>173</td>
      <td>103.0</td>
      <td>140</td>
      <td>80</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>61.841096</td>
      <td>34.414782</td>
    </tr>
    <tr>
      <th>99959</th>
      <td>20136</td>
      <td>men</td>
      <td>177</td>
      <td>80.0</td>
      <td>130</td>
      <td>80</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>55.167123</td>
      <td>25.535446</td>
    </tr>
    <tr>
      <th>99960</th>
      <td>17065</td>
      <td>women</td>
      <td>165</td>
      <td>76.0</td>
      <td>140</td>
      <td>90</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>46.753425</td>
      <td>27.915519</td>
    </tr>
    <tr>
      <th>99961</th>
      <td>22142</td>
      <td>men</td>
      <td>175</td>
      <td>72.0</td>
      <td>130</td>
      <td>80</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>60.663014</td>
      <td>23.510204</td>
    </tr>
    <tr>
      <th>99962</th>
      <td>18226</td>
      <td>women</td>
      <td>168</td>
      <td>75.0</td>
      <td>120</td>
      <td>80</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>49.934247</td>
      <td>26.573129</td>
    </tr>
    <tr>
      <th>99964</th>
      <td>21699</td>
      <td>women</td>
      <td>163</td>
      <td>65.0</td>
      <td>120</td>
      <td>80</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>59.449315</td>
      <td>24.464602</td>
    </tr>
    <tr>
      <th>99965</th>
      <td>16843</td>
      <td>women</td>
      <td>168</td>
      <td>75.0</td>
      <td>120</td>
      <td>79</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>46.145205</td>
      <td>26.573129</td>
    </tr>
    <tr>
      <th>99967</th>
      <td>18800</td>
      <td>women</td>
      <td>163</td>
      <td>78.0</td>
      <td>90</td>
      <td>60</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>51.506849</td>
      <td>29.357522</td>
    </tr>
    <tr>
      <th>99969</th>
      <td>22423</td>
      <td>women</td>
      <td>163</td>
      <td>74.0</td>
      <td>160</td>
      <td>100</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>61.432877</td>
      <td>27.852008</td>
    </tr>
    <tr>
      <th>99971</th>
      <td>17727</td>
      <td>men</td>
      <td>167</td>
      <td>69.0</td>
      <td>110</td>
      <td>80</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>48.567123</td>
      <td>24.740937</td>
    </tr>
    <tr>
      <th>99973</th>
      <td>18941</td>
      <td>women</td>
      <td>153</td>
      <td>86.0</td>
      <td>130</td>
      <td>90</td>
      <td>1</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>51.893151</td>
      <td>36.738007</td>
    </tr>
    <tr>
      <th>99974</th>
      <td>19652</td>
      <td>women</td>
      <td>165</td>
      <td>72.0</td>
      <td>120</td>
      <td>80</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>53.841096</td>
      <td>26.446281</td>
    </tr>
    <tr>
      <th>99975</th>
      <td>17926</td>
      <td>men</td>
      <td>168</td>
      <td>80.0</td>
      <td>120</td>
      <td>80</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>49.112329</td>
      <td>28.344671</td>
    </tr>
    <tr>
      <th>99977</th>
      <td>18194</td>
      <td>women</td>
      <td>156</td>
      <td>102.0</td>
      <td>130</td>
      <td>80</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>49.846575</td>
      <td>41.913215</td>
    </tr>
    <tr>
      <th>99978</th>
      <td>18198</td>
      <td>men</td>
      <td>180</td>
      <td>78.0</td>
      <td>120</td>
      <td>80</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>49.857534</td>
      <td>24.074074</td>
    </tr>
    <tr>
      <th>99981</th>
      <td>21978</td>
      <td>women</td>
      <td>160</td>
      <td>59.0</td>
      <td>110</td>
      <td>70</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>60.213699</td>
      <td>23.046875</td>
    </tr>
    <tr>
      <th>99985</th>
      <td>21013</td>
      <td>women</td>
      <td>157</td>
      <td>83.0</td>
      <td>120</td>
      <td>70</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>57.569863</td>
      <td>33.672766</td>
    </tr>
    <tr>
      <th>99986</th>
      <td>15094</td>
      <td>women</td>
      <td>168</td>
      <td>72.0</td>
      <td>110</td>
      <td>70</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>41.353425</td>
      <td>25.510204</td>
    </tr>
    <tr>
      <th>99988</th>
      <td>20609</td>
      <td>women</td>
      <td>159</td>
      <td>72.0</td>
      <td>130</td>
      <td>90</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>56.463014</td>
      <td>28.479886</td>
    </tr>
    <tr>
      <th>99990</th>
      <td>18792</td>
      <td>women</td>
      <td>161</td>
      <td>56.0</td>
      <td>170</td>
      <td>90</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>51.484932</td>
      <td>21.604105</td>
    </tr>
    <tr>
      <th>99991</th>
      <td>19699</td>
      <td>women</td>
      <td>172</td>
      <td>70.0</td>
      <td>130</td>
      <td>90</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>53.969863</td>
      <td>23.661439</td>
    </tr>
    <tr>
      <th>99992</th>
      <td>21074</td>
      <td>women</td>
      <td>165</td>
      <td>80.0</td>
      <td>150</td>
      <td>80</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>57.736986</td>
      <td>29.384757</td>
    </tr>
    <tr>
      <th>99993</th>
      <td>19240</td>
      <td>men</td>
      <td>168</td>
      <td>76.0</td>
      <td>120</td>
      <td>80</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>52.712329</td>
      <td>26.927438</td>
    </tr>
    <tr>
      <th>99998</th>
      <td>22431</td>
      <td>women</td>
      <td>163</td>
      <td>72.0</td>
      <td>135</td>
      <td>80</td>
      <td>1</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>61.454795</td>
      <td>27.099251</td>
    </tr>
    <tr>
      <th>99999</th>
      <td>20540</td>
      <td>women</td>
      <td>170</td>
      <td>72.0</td>
      <td>120</td>
      <td>80</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>56.273973</td>
      <td>24.913495</td>
    </tr>
  </tbody>
</table>
<p>63259 rows × 14 columns</p>
</div>